* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.img-container {
    width: 33%;
}
.img-container img {
    width: 100%;;
}